# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
*.log

# ===============================
# Virtual Environment
# ===============================
venv/
.env
.env.*

# ===============================
# PyTest
# ===============================
.pytest_cache/
.cache/
*.pytest_cache
/__pycache__/

# ===============================
# Allure
# ===============================
allure-results/
allure-report/

# ===============================
# Reports
# ===============================
reports/
screenshots/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# =======================
